<!-- app/views/users/create.html.erb -->

<h2>Registration Successful!</h2>

<p>Thank you for signing up. You can now enjoy the features of our application.</p>

<%= link_to 'Go to My Profile', @user %>
